@{
    ViewBag.Title = "Add";
}
<form>
    <table class="info">
        <tr>
            <td class="label">Role code：</td>
            <td class="field">
                <input id="addForm_RoleCode" name="addForm_RoleCode" class="easyui-combobox" data-options="required:true" />
            </td>
        </tr>

        <tr>
            <td class="label">Scan point code</td>
            <td class="field">
                <input id="addForm_ScanSiteCode" name="addForm_ScanSiteCode" class="easyui-combobox" data-options="required:true" />
            </td>
        </tr>
    </table>
    <div style="padding: 15px; text-align: center;">
        <a href="javascript:void(0)" id="addForm_Save" class="easyui-linkbutton" icon="icon-ok">Add</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" icon="icon-cancel" onclick="closeDlg()">Cancel</a>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        //角色代码
        $('#addForm_RoleCode').combobox({
            url: '@Url.Action("GetAllRoleList")',
            valueField: 'RoleCode',
            textField: 'RoleName'
        });
        //扫描点代码
        $('#addForm_ScanSiteCode').combobox({
            url: '@Url.Action("GetAllScanSiteCodeList")',
            valueField: 'ScanSiteCode',
            textField: 'ScanSiteName'
        });
    });
    //提交数据
    $('#addForm_Save').click(function () {
        var RoleCode = $("#addForm_RoleCode").combobox('getValue');
        var ScanSiteCode = $("#addForm_ScanSiteCode").combobox('getValue');

        if (RoleCode == "") {
            $.messager.alert("Add failed", "Role code cannot be empty！", "error");
            return;
        }
        if (ScanSiteCode == "") {
            $.messager.alert("Add failed", "Scan point code cannot be empty！", "error");
            return;
        }

        $.messager.confirm("Tips", "Confirm submission?", function (r) {
            if (r) {
                var data =
                    {
                        RoleCode: RoleCode,
                        ScanSiteCode: ScanSiteCode
                    };
                $.post("@Url.Action("AddCfg")", data, function (result) {
                    if (result.state === "success") {
                        closeDlg();
                        datagrid();
                        $.messager.alert("Tips", "Added successfully！");
                    } else {
                        $.messager.alert("Error", result.message, "error");
                    }
                });
            };
        });
    });
</script>