@{
    ViewBag.Title = "RptRole";
}
<html>
 <body class="easyui-layout">
     <div  region="west"  title="Role information" split="true" style="width:220px" ></div>
     <div  region="west"  title="permissions information" split="true"  >

     </div>
</body>

</html>